@{
    ViewData["Title"] = "Domů";
}

<div class="text-center">
    <h1 class="display-4">Aplikace poznámek</h1>
    <p>V prvním kroku je připravená registrace a přihlášení uživatele přes ASP.NET Identity.</p>
</div>
