@{
    ViewData["Title"] = "Domů";
}

<div class="text-center">
    <h1 class="display-4">Aplikace poznámek</h1>
    <p>Po přihlášení můžeš vytvářet, mazat a filtrovat své soukromé poznámky včetně označení důležitých.</p>
</div>
