@model NotesApp.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Přihlášení";
}

<h1>Přihlášení</h1>

<form asp-action="Login" method="post" class="mt-4">
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Přihlásit se</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}